<!--<div [ngGrid]="gridConfig"-->
<!--(itemDroppedIn)="addItem($event)">-->
<!--<div [ngGridItem]="item.config"-->
<!--*ngFor="let item of items">-->
<!--{{item.text}}-->
<!--</div>-->
<!--</div>-->

<cat-grid #grid1 [items]="items" [config]="gridConfig"></cat-grid>
<!--<ngGrid #grid2 [config]="gridConfig"></ngGrid>-->

<div [dragula]="'bag'">
  <div [catGridDraggableDragula]="draggable" style="width: 100px; height: 100px; background-color: red;"></div>
  <div style="width: 100px; height: 100px; background-color: red;" >Blablabla</div>
</div>
<!--<div (click)="gridDragService.bringToFront('1')">Clickkk</div>-->
